openapi: 3.0.0
info:
  title: BMW Posting WebService
  description: |
    Generic webservice for financial posting consumed by SAP CFIN.
    Aligned to TA080.
  contact:
    email: marko.graf@bmw.com
  license:
    name: GNU AGPLv3
    url: https://spdx.org/licenses/AGPL-3.0-or-later.html
  version: 1.0.0
servers:
- url: http://tgfedi30.bmwgroup.net:8030/sap/opu/odata/BMW/GFB_IF0041_SRV_REST_SRV
  description: GFE Server
tags:
- name: posting
  description: Financial posting
paths:
  /posting:
    post:
      tags:
      - posting
      summary: add postings
      description: |
        By passing in the appropriate options, you can search for
        available inventory in the system
      operationId: addPostings
      requestBody:
        description: send new postings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Control'
          application/xml:
            schema:
              $ref: '#/components/schemas/Control'
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 200
                message: Successful operation
            application/xml:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 200
                message: Successful operation
        "401":
          description: Authorization information is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 401
                message: Authorization information is missing or invalid
            application/xml:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 401
                message: Authorization information is missing or invalid
        "405":
          description: HTTP method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 405
                message: HTTP method not allowed
            application/xml:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 405
                message: HTTP method not allowed
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 500
                message: Internal server error
            application/xml:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 500
                message: Internal server error
        "501":
          description: Service not implemented.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 501
                message: Service not implemented
            application/xml:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 501
                message: Service not implemented
        "5XX":
          description: Server error. Please see detailed return message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 503
                message: Service unavailable
            application/xml:
              schema:
                $ref: '#/components/schemas/ReturnCode'
              example:
                code: 503
                message: Service unavailable
components:
  schemas:
    Control:
      required:
      - postings
      - sender
      type: object
      properties:
        sender:
          type: string
          description: Sending system
          example: Innosys
        simulate:
          type: boolean
          description: Posting simulation
          example: false
        postings:
          type: array
          items:
            $ref: '#/components/schemas/Posting'
      xml:
        name: Control
    Posting:
      required:
      - blart
      - bldat
      - budat
      - bukrs
      - waers
      type: object
      properties:
        belnr:
          type: string
          description: Accounting Document Number
          example: "1234567890"
        xblnr:
          type: string
          description: Reference Document Number
          example: "7451413411"
        blart:
          type: string
          description: Document Type
          example: SA
        bktxt:
          type: string
          description: Document Header Text
          example: Header Text
        bldat:
          type: string
          description: Document Date in Document
          format: date
          example: 2020-05-25
        budat:
          type: string
          description: Posting Date in Document
          format: date
          example: 2020-05-09
        bukrs:
          type: string
          description: Company Code
          example: A1
        monat:
          type: string
          description: Fiscal Period of Financial Document
          example: "05"
        waers:
          type: string
          description: ISO Code of Document Currency
          example: EUR
        ldgrp:
          type: string
          description: Ledger group
          example: 0L
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        taxes:
          type: array
          items:
            $ref: '#/components/schemas/Tax'
      xml:
        name: Posting
    Item:
      required:
      - newko
      - wrbtr
      type: object
      properties:
        newko:
          type: string
          description: GL Account
          example: "1896123"
        newbs:
          type: string
          description: Posting Key
          example: "40"
        wrbtr:
          type: string
          description: Amount in Document Currency
          example: "5273.43"
        dmbtr:
          type: string
          description: Amount in Company Code Currency
          example: "21465.18"
        sgtxt:
          type: string
          description: Item Text
          example: Item Text
        zuonr:
          type: string
          description: Assignment Number
          example: "3456787654"
        mwskz:
          type: string
          description: Sales Tax Code
          example: 1V
        txjcd:
          type: string
          description: Tax Jurisdiction Code
          example: TAXUSJ
        gsber:
          type: string
          description: Business Area
          example: A1
        matnr:
          type: string
          description: Material Number
          example: "1234543212"
        menge:
          type: string
          description: Quantity
          example: "1"
        meins:
          type: string
          description: ISO Code of Base Unit of Measure
          example: PC
        prctr:
          type: string
          description: Profit Center
          example: CA
        segment:
          type: string
          description: Segment for Segmental Reporting
          example: BMW
        kostl:
          type: string
          description: Cost Center
          example: "5609"
        projk:
          type: string
          description: Work Breakdown Structure Element (WBS Element)
          example: A1002020202020200989
        bewar:
          type: string
          description: Transaction Type
          example: "020"
        aufnr:
          type: string
          description: Internal Order Number
          example: "8909876"
        kndnr:
          type: string
          description: Customer
          example: "1001234567"
        kdgrp:
          type: string
          description: Customer Group
          example: "09"
        kmland:
          type: string
          description: Country Key
          example: DE
        vbund:
          type: string
          description: Company ID of Trading Partner
          example: A1
        zfbdt:
          type: string
          description: Baseline Date for Due Date Calculation
          format: date
          example: 2020-07-01
        zlsch:
          type: string
          description: Payment Method
          example: F
        zlspr:
          type: boolean
          description: Payment Block Key
          example: true
        bvtyp:
          type: string
          description: Partner Bank Type
          example: "001"
        lzbkz:
          type: string
          description: State Central Bank Indicator
          example: "020"
        newum:
          type: string
          description: Special Ledger Indicator
          example: A
        zterm:
          type: string
          description: Terms of Payment Key
          example: "0001"
        xref1:
          type: string
          description: Business Partner Reference Key 1
          example: R:12345
        xref2:
          type: string
          description: Business Partner Reference Key 2
          example: "123234"
        xref3:
          type: string
          description: Reference Key For Line Item
          example: "22222222"
      xml:
        name: Item
    Tax:
      type: object
      properties:
        mwskz:
          type: string
          description: Sales Tax Code
          example: 1V
        bschl:
          type: string
          description: Posting Key
          example: "40"
        txjcd:
          type: string
          description: Tax Jurisdiction Code
          example: TAXUSJ
        fwste:
          type: string
          description: Amount in Document Currency
          example: "8765.87"
        fwbas:
          type: string
          description: Tax Base Amount in Transaction Currency
          example: "921.43"
        hwste:
          type: string
          description: Amount in Company Code Currency
          example: "772342.32"
        hwbas:
          type: string
          description: Tax Base Amount in Company Code Currency
          example: "76423.32"
      xml:
        name: Tax
    ReturnCode:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
      xml:
        name: ReturnCode
